body{
    background: white;
    font: normal 12pt courier;
    text-align: center;
}
span {
    font: normal 12pt courier;
    text-align: center;
}
progress {
    width: 500px;
    border: none;
    padding: 3px;
    height: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    color: #2dabe1;
}
progress::-webkit-progress-value { background: #2dabe1; }
progress::-moz-progress-bar { background: #2dabe1; }
header{
    color: black;
    text-align: center;
}
section{
    background: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    width: 900px;
    margin: auto;
    box-shadow: 5px 5px 5px grey;
}
footer{
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 8pt;
}
div{
    padding: 10px;
}
div.hidden {
    display: none;
}
div.visible {
    display: block;
}
ul#albumfotos {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}
ul#albumfotos figure{
    padding: 5px;
    display: inline-block;
    margin: 0px;
}
ul#albumfotos figure:hover figcaption {
    opacity: 1;
}
ul#albumfotos figure figcaption {
    margin: 5px 0 0 0;
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, .3);
    font-size: 9pt;
    padding: 5px;
}
ul#albumfotos figure img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}
ul#albumfotos figure img:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}