body{
    background: white;
    font: normal 12pt courier;
    text-align: center;
}
header{
    color: black;
    text-align: center;
}
section{
    background: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    width: 900px;
    margin: auto;
    box-shadow: 5px 5px 5px grey;
}
footer{
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 8pt;
}
div{
    padding: 10px;
}
div.hidden {
    display: none;
}
div.visible {
    display: block;
}
ul#albumfotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
ul#albumfotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}
ul#albumfotos li:hover span {
    opacity: 1;
}
ul#albumfotos li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, .3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}
ul#albumfotos li.foto {
    background-position: 50% 50%;
    background-size: 224px 224px;
    background-color: white;
}
ul#albumfotos li.foto:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}